{{> navbar-all }}

<div class="container">
    <div class="jumbotron mx-auto w-100 bg-papyrus border border-warning rounded-0">
        <h2>Select A Recipe</h2>
        <hr>
        {{#each recipes}}
        <div class="text-center my-2 mx-auto p-2 border border-warning rounded-0">
            <h2>{{this.title}}</h2>
            <div class="my-2">
                <span class="label">
                    Prep Time:
                </span>
                <span>
                    {{this.prep_time}} minutes -
                </span>
                <span>
                    Servings:
                </span>
                <span class="font-weight-normal">
                    {{this.servings}}
                </span>
            </div>
            <button class="btn btn-warning btn-custom-size w-5em mr-1 rounded-0"
                onclick="location.href='/api/{{this.id}}'">View</button>
            <button class="btn btn-warning btn-custom-size w-5em mr-1 rounded-0"
                onclick="location.href='/api/recipes/{{this.id}}'">Edit</button>
            <button data-id="{{this.id}}"
                class="delrecipe btn btn-warning btn-custom-size w-5em rounded-0">Delete</button>
        </div>
        {{/each}}
    </div>
</div>

{{> modal-center }}

<script src="/assets/js/app.js"> </script>